{% extends 'nord/navbar.html' %}


{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <label for="" class="form-label">Enter Name</label>
    <input class="form-control" type="text" name="name" required>
    <label for="" class="form-label">Enter Email</label>
    <input class="form-control" type="text" name="email" required>
    <label for="" class="form-label">Enter Phone</label>
    <input class="form-control" type="text" name="phone" required maxlength="10" minlength="10">
    <br>
    <input type="submit" class="btn btn-success">
</form>
{% endblock %}